---
import "../../styles/global.css";
import { getEntryBySlug } from "astro:content";

const { slug } = Astro.params;

const articulo = await getEntryBySlug("articulos", slug);

if (!articulo) {
  throw new Error("Artículo no encontrado");
}

const { Content } = await articulo.render();
---

<html lang="es">

<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

<title>{articulo.data.title}</title>

</head>

<body>

<div class="container">

<a href="/">← Punto y Coma</a>

<h1>{articulo.data.title}</h1>

<p class="tagline">{articulo.data.descripcion}</p>

<hr>

<div class="contenido">

<Content />

</div>

</div>

</body>

</html>