---
import "../../styles/global.css";
import { getCollection } from "astro:content";
import { categorias } from "../../config/categorias.js";

export async function getStaticPaths() {
  const articulos = await getCollection("articulos");

  return articulos.map((articulo) => ({
    params: { slug: articulo.slug },
    props: { articulo }
  }));
}

const { articulo } = Astro.props;

const { Content } = await articulo.render();

// normalizar categoría
const categoriaNormalizada = articulo.data.categoria?.trim().toLowerCase();
---

<html lang="es">

<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

<title>{articulo.data.title}</title>

</head>

<body>

<div class="container">

<a href="/">← Punto y Coma</a>

<h1>{articulo.data.title}</h1>

<p class="tagline">{articulo.data.descripcion}</p>

<p style="margin-top:10px;font-weight:600;">
{categorias[categoriaNormalizada] || articulo.data.categoria}
</p>

<hr>

<div class="contenido">

<Content />

</div>

</div>

</body>

</html>